@import '../../../mixins/mixins.scss';

.PersonalData {
    width: 50%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include screenMdSm {
      margin-top: 20px;
      width: 100%;
    }
}

.Hexagon {
    position: relative;
    height: 200px;
    width: 200px;
    background: #51c451;
  }
  .Hexagon:before {
    position: absolute;
    content: '';
  }
  .Hexagon:before {
    top: 4px;  
    left: 4px;  
    height: calc(100% - 8px);  
    width: calc(100% - 8px);  
    background: #6c6;
  }
  .Hexagon, .Hexagon:before, .Double:after {
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }
  .Image:before {
    background: url('../../../assets/images/Nikola.jpg');
    background-position: center;
    background-size: 100% 100%;
  }

  .PersonalInfo{
      margin-top: 20px;

      ul {
          padding-left: 10%;

          li{
              list-style: none;
              color: #03e9f4;
            
              span{
                  color: #6c6;
              }
          }
      }
  }
