.Education{
    display: flow-root;
    width: 100%;
    height: auto;
    margin: 0 auto;
    color: #03e9f4;
    position: relative;
    padding-bottom: 60px;
    padding-top: 60px;
    overflow: hidden;

    .EducationContainer {
        width: 80%;
        margin: 0 auto;

        h2{
            text-align: center;
            font-size: 50px;
            line-height: 50px;
            margin: 0 0 80px;
        }
    }
}

.EducationListCont{
    width: 100%;

    .EducationList{
        margin: 20px 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0;

        .ListItem{
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            margin-bottom: 30px;
            transition: all 0.2s ease-in-out;

            &:hover{ transform: scale(1.1); }

            &.Diff{ color: #6c6; }
            
            h3{
                font-size: 20px;
                margin: 2px;
                text-align: center;
            }

            p{ 
                margin: 2px; 
                text-align: center;
            }

            .ListItemData{
                margin: 0 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
        }
    }
}

.BottomLine{
    position: absolute;
    bottom: 4px;
    left: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg, transparent, #6c6);
    animation: lineBottom 1s linear infinite;
}

@keyframes lineBottom {
    0% {
        left: -100%;
    }
    50%,100% {
        left: 100%;
    }
}