@import '../../mixins/mixins.scss';

.WorkExperience{
    display: flow-root;
    width: 100%;
    height: auto;
    margin: 0 auto;
    color: #03e9f4;
    position: relative;
    padding-bottom: 60px;
    padding-top: 60px;
    overflow: hidden;

    .WorkExperienceContainer {
        width: 80%;
        margin: 0 auto;

        h2{
            text-align: center;
            font-size: 50px;
            line-height: 50px;
            margin: 0 0 80px;
        }
    }
}

.TimelineContainer{ width: 100%; }

.Timeline{
    position: relative;
    padding: 0;
    list-style: none;

    li {
        min-height: 100px;
        display: flow-root;

        .PostedDate {
            left: 50%;
            width: 120px;
            margin-left: -60px;
            margin-top: 28px;
            position: absolute;
            text-align: center;
            background-color: #050801; 

            @include screenSm { 
                left: 5px;
                margin-top: 31px; 
            }

            .Year {
                font-size: 18px;
                line-height: 20px;
                font-weight: 700;
                display: block;
                color: #03e9f4;
                top: 0;
            }
        }

        .TimelinePanel {
            float: left;
            width: 37%;
            text-align: right;
            border: 1px solid #03e9f4;
            position: relative;
            padding: 24px;
            //opacity: 0;

            @include screenSm { 
                width: 80%; 
                float: right;
                text-align: left;
                margin-top: 5px;
            }
        }

        .TimelinePanel::before{
            content: "";
            top: 25px;
            position: absolute;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            left: 100%;
            border-left: 12px solid #03e9f4;
            -webkit-transition:all 400ms;
            -moz-transition:all 400ms;
            -o-transition:all 400ms;
            transition: all 400ms; 

            @include screenSm {
                border-left: unset;
                border-right: 12px solid #03e9f4;
                left: -12px;
            }
        }

    }


}

.TimelinePanelInverted{
    float: right;
    width: 37%;
    text-align: left;
    border: 1px solid #03e9f4;
    position: relative;
    padding: 24px;
    opacity: 0; 

    @include screenSm { 
        width: 80%; 
        margin-top: 5px;
    }
}

.TimelinePanelInverted::before{
    content: "";
    top: 25px;
    position: absolute;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    right: 100%;
    border-right: 12px solid #03e9f4;
    -webkit-transition:all 400ms;
    -moz-transition:all 400ms;
    -o-transition:all 400ms;
    transition: all 400ms; 
}

.Timeline::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    margin-left: -1.5px;
    background-color: #03e9f4;
    left: 50%;

    @include screenSm { left: 5px; }
}

.TimelinePanelContent {
    h3 { color: #03e9f4; }
    p { color: #6c6; }
}

.TimelinePanelAnimateLeft1 {
    animation: fromLeft 1s;
    animation-fill-mode: forwards;

    @include screenSm { animation: fromRight 1s; }
}

.TimelinePanelAnimateRight1 {
    animation: fromRight 1s;
    animation-fill-mode: forwards;
}

.TimelinePanelAnimateLeft2{
    animation: fromLeft 1s;
    animation-fill-mode: forwards;

    @include screenSm { animation: fromRight 1s; }
}



@keyframes fromLeft {
    from {
        left: -30px;
        opacity: 0;
    }
    to {
        left: 0px;
        opacity: 1;
    }
}

@include screenLgSm {
    @keyframes fromLeft {
        from {
            left: -30px;
            opacity: 0;
        }
        to {
            left: -17px;
            opacity: 1;
        }
    }
}

@keyframes fromRight {
    from {
        right: -30px;
        opacity: 0;
    }
    to {
        right: 0px;
        opacity: 1;
    }
}

@include screenLgSm {
    @keyframes fromRight {
        from {
            right: -30px;
            opacity: 0;
        }
        to {
            right: -17px;
            opacity: 1;
        }
    }
}

@include screenSm {
    @keyframes fromRight {
        from {
            right: -30px;
            opacity: 0;
        }
        to {
            right: 0px;
            opacity: 1;
        }
    }
}

.BottomLine{
    position: absolute;
    bottom: 4px;
    left: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg, transparent, #6c6);
    animation: lineBottom 1s linear infinite;
}

@keyframes lineBottom {
    0% {
        left: -100%;
    }
    50%,100% {
        left: 100%;
    }
}