@import '../../../mixins/mixins.scss';

.ContactForm {
    width: 50vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 24px;
    box-sizing: border-box;

    @include screenMdSm {
        width: 80vw;
    }
}

.InputContainer {
    width: 100%;
    margin-top: 20px;

    label { color: #6c6; }

    .Input {
        width: 100%;
        height: 36px;
        border: 2px solid #6c6;
        border-radius: 6px;
        background-image: linear-gradient(#6c6, #050801);
        margin-top: 10px;
        padding: 0 8px;
        font-size: 20px;
        box-sizing: border-box;
        color: #050801;

        &:hover { 
            -webkit-box-shadow: 0px 0px 47px 0px rgba(102, 204, 102, 0.4);
            -moz-box-shadow: 0px 0px 47px 0px rgba(102, 204, 102, 0.4);
            box-shadow: 0px 0px 47px 0px rgba(102, 204, 102, 0.4);
        }

        &:focus {
            outline: none;
        }
    }

    .Textarea {
        width: 100%;
        height: 96px;
        border: 2px solid #6c6;
        border-radius: 6px;
        margin-top: 10px;
        padding: 0 8px;
        font-size: 20px;
        box-sizing: border-box;
        background-image: linear-gradient(#6c6, #050801);
        color: #050801;

        &:hover { 
            -webkit-box-shadow: 0px 0px 47px 0px rgba(102, 204, 102, 0.4);
            -moz-box-shadow: 0px 0px 47px 0px rgba(102, 204, 102, 0.4);
            box-shadow: 0px 0px 47px 0px rgba(102, 204, 102, 0.4);
        }
        &:focus {
            outline: none;
        }
    }
}

.ButtonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.SubmitBtn{
    font-size: 20px;
    background-image: linear-gradient(#6c6, #050801);
    font-weight: bold;
    padding: 10px 16px;
    margin-top: 20px;
    border-radius: 15px;
    border: 2px solid #6c6;
    cursor: pointer;

    &:focus {
        outline: none;
    }

    &:disabled {
        cursor: not-allowed;
        background-image: linear-gradient(#cccc, #050801);
        color: #050801;
    }
}

.MessageError {
    color: red;
    font-weight: bold;
}

.MessageSuccess{
    color: #6c6;
    font-weight: bold;
}

.Invalid{
    border: 1px solid red;
    background-image: linear-gradient(#ff0000, #050801);
}