@import '../../../mixins/mixins.scss';

.Modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    animation: show .5s ease forwards;
    z-index: 102;
    background: #050801;
    border: 4px solid #6c6;
    border-radius: 10px;
    padding: 45px 16px 16px;
    min-height: 200px;
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0px 0px 47px 0px rgba(102, 204, 102, 0.4);
    -moz-box-shadow: 0px 0px 47px 0px rgba(102, 204, 102, 0.4);
    box-shadow: 0px 0px 47px 0px rgba(102, 204, 102, 0.4); 
    
    @include screenMdSm { width: 90%; }
}

@keyframes show {
    to {
        transform: translate(-50%, -50%) scale(1);
    }  
}

.ModalClose{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    border: 4px solid #6c6;
    background-color: #050801;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: #6c6;
    border-radius: 50%;
    font-size: 30px;
    font-weight: 900;
    cursor: pointer;

    p {
        display: block;
        margin-bottom: 1px;
        margin-top: 0;
        padding: 0;
    }
}