.HeaderTitleContainer {
    position: relative;
    height: 678px;
    width: 100%;
    margin-top: 20px;
    background: #050801;
   
    &::after {
        clear: both;
        display: table;
        content: '';
    }
}

.MouseIcon {
    position: absolute;
    left: 50%;
    top: 40px;
    border: 2px solid #03e9f4;
    border-radius: 16px;
    height: 50px;
    width: 30px;
    margin-left: -17px;
    display: block;
    z-index: 10;

    .Wheel {
        position: relative;
        border-radius: 10px;
        background: #03e9f4;
        width: 4px;
        height: 10px;
        top: 4px;
        margin-left: auto;
        margin-right: auto;
        animation: drop 1s infinite running linear;

    }
    
    @keyframes drop {
        0%   { top:5px;  opacity: 0;}
        30%  { top:10px; opacity: 1;}
        100% { top:25px; opacity: 0;}
    }

    .Scroll {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: 0.4s;
        cursor: pointer;
    }

}

.Intro{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    text-align: center;
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    transform: translate(0%, -50%);

    .IntroSub{
        color: #03e9f4;
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
        text-transform: uppercase;
        display: block;
        margin-bottom: 10px; 
    }
    h1{
        font-size: 60px;
        line-height: 80px;
        margin: 0 0 16px;
        color: #03e9f4;
        
        span{ color: #51c451; }
    }

    .SocialIcons{ margin-top: 15px; }
}

.ListInline{
    padding: 0;
    margin:  0;
    list-style: none;

    li {
        display: inline-block;
        padding-right: 5px;
        padding-left: 5px;

        a { 
            color: #51c451;

            i {
                position: relative;
                color: #51c451;;
                font-size: 18px;
                margin: 0 7px;
                line-height: 40px;
                text-align: center;
                width: 40px;
                height: 40px;

                &:hover { color: #050801; }
                
                &::before{
                    position: relative;
                    z-index: 1;
                }

                &::after{
                    position: absolute;
                    content: "";
                    left: 0;
                    top: 0;
                    width: 40px;
                    height: 40px;
                    border: 1px solid #51c451;
                    border-radius: 3px;
                    -webkit-transform: rotate(45deg);
                    -moz-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    -o-transform: rotate(45deg);
                    transform: rotate(45deg);
                    -webkit-transition: all 300ms;
                    -moz-transition: all 300ms;
                    -o-transition: all 300ms;
                    transition: all 300ms; 
                }
                &:hover::after {
                    background: #51c451;
                    z-index: 0;
                }
            }
        }
    }
}