.OnTopButton {
    border: 2px solid #03e9f4;
    padding: 3px 6px;
    border-radius: 5px;
    color: #03e9f4;
    position: fixed;
    background: transparent;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;

    i{ font-size: 900; }

    &:hover{ 
        color: #050801;
        background-color: #03e9f4;
    }
}