@import '../../mixins/mixins.scss';

.Contact{
    display: flow-root;
    width: 100%;
    height: auto;
    margin: 0 auto;
    color: #6c6;
    position: relative;
    padding-bottom: 60px;
    padding-top: 60px;
    overflow: hidden;

    .ContactContainer {
        width: 80%;
        margin: 0 auto;

        h2{
            text-align: center;
            font-size: 50px;
            line-height: 50px;
            margin: 0 0 80px;
        }
    }
}

.ContactContent {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    @include screenMdSm { flex-direction: column; }
}

.ContactButtonContainer {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    @include screenMdSm { 
        justify-content: center; 
        margin-bottom: 40px;
        width: 100%
    }

    .ContactButton {
        color: #050801;
        font-size: 30px;
        font-weight: 500;
        background-color: #6c6;
        -webkit-box-shadow: 0px 0px 47px 0px rgba(102, 204, 102, 0.4);
        -moz-box-shadow: 0px 0px 47px 0px rgba(102, 204, 102, 0.4);
        box-shadow: 0px 0px 47px 0px rgba(102, 204, 102, 0.4);
        padding: 35px;
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: 50px;
        transition: 0.4s;

        @include screenXsm { padding: 26px; }

        &:hover {
            background-color: #03e9f4;
            -webkit-box-shadow: 0px 0px 47px 0px rgba(3, 233, 244, .4);
            -moz-box-shadow: 0px 0px 47px 0px  rgba(3, 233, 244, .4);
            box-shadow: 0px 0px 47px 0px  rgba(3, 233, 244, .4);
        }
    }
}

.GoogleMap {
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @include screenMdSm { width: 100%; }

    .ContactData{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        @include screenSm { flex-direction: column; }

        .ContactDataContent {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative;

            @include screenSm { margin-top: 30px; }

            i {
                font-size: 45px;
                margin-left: 10%;
                position: absolute;
                top: 0;
                left: 0;

                @include screenLgSm { margin-left: 0; }

            }
        }
    }

    address {
        @include screenSm { margin-left: 15px; }
    }

    .GoogleIframe {
        width: 100%;

        iframe {
            width: 100%;
            height: 400px;
            margin-top: 50px;
            border: 6px solid #6c6;
            border-radius: 10px;
        }
    }
}