.HeaderContainer{
    height: auto;
    position: relative;
    overflow: hidden;
}

.HeaderContainer::after{
    content: '';
    display: table;
    clear: both;
}

.BottomLine{
    position: absolute;
    bottom: 4px;
    left: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg, transparent, #6c6);
    animation: lineBottom 1s linear infinite;
}

@keyframes lineBottom {
    0% {
        left: -100%;
    }
    50%,100% {
        left: 100%;
    }
}