@import '../../mixins/mixins.scss';

.Personality{
    display: flow-root;
    width: 100%;
    height: auto;
    margin: 0 auto;
    color: #03e9f4;
    position: relative;
    padding-bottom: 60px;
    padding-top: 60px;
    overflow: hidden;

    .PersonalityContainer {
        width: 80%;
        margin: 0 auto;

        h2{
            text-align: center;
            font-size: 50px;
            line-height: 50px;
            margin: 0 0 80px;
        }
    }
}

.PersonalityList {
    width: 50%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include screenSm { width: 100%; }

    ul{
        padding: 0;
        color: #050801;
        width: 50%;

        @include screenLgSm { width: 70%; }
    }
    
}

.Item{
    list-style: none;
    padding: 10px;
    margin-top: 5px;
    text-align: center;
    opacity:0;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    box-sizing: border-box;
    position: relative;
    transition: all 0.2s ease-in-out;

    &:hover{ transform: scale(1.1) }
    
}

.Item1 {
    background-color: rgba(102, 204, 102, .7);
    animation: fromLeft 1.5s;
    animation-fill-mode: forwards;
}

.Item2 {
    background-color: rgba(102, 204, 102, .6);
    animation: fromLeft 1.5s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

.ItemRight1{
    background-color: rgba(3, 233, 244, .7);
    animation: fromRight 1.5s;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
}
.ItemRight2{
    background-color: rgba(3, 233, 244, .6);
    animation: fromRight 1.5s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

@keyframes fromLeft {
    from{
        opacity: 0;
        left: -50px;
    }
    to {
        opacity: 1;
        left: 0;
    }
}

@keyframes fromRight {
    from{
        opacity: 0;
        right: -50px;
    }
    to {
        opacity: 1;
        right: 0;
    }
}

.BottomLine{
    position: absolute;
    bottom: 4px;
    left: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg, transparent, #6c6);
    animation: lineBottom 1s linear infinite;
}

@keyframes lineBottom {
    0% {
        left: -100%;
    }
    50%,100% {
        left: 100%;
    }
}