/*
 *  Breakpoints mixins
*/
@mixin screenXXsm {
    @media (max-width: 300px) { @content; }
}

@mixin screenXsm {
    @media (max-width: 450px) { @content; }
}

@mixin screenSm {
    @media (max-width: 600px) { @content; }
} 

@mixin screenMdSm {
    @media (max-width: 992px) { @content; }
}

@mixin screenMd {
    @media (max-width: 1102px) { @content; }
}

@mixin screenLgSm {
    @media (max-width: 1200px) { @content; }
}

@mixin screenLg {
    @media (max-width: 1440px) { @content; }
}

@mixin screenXl {
    @media (max-width: 1670px) { @content; }
}