@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

* { box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Lato', sans-serif; 
  background: #050801;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
