@import '../../../mixins/mixins.scss';

.Navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 20%;
    width: 100%;

    @include screenLgSm { 
        max-height: unset; 
        height: 0;
        overflow: hidden;
        transition: all 1s cubic-bezier(0.26, -0.01, 0, 1.01);
    }

    .AnchorLink {
        width: 150px;
        height: 15px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 25px 30px;
        margin: 40px 10px;
        color: #03e9f4;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        transition: 0.5s;
        letter-spacing: 3px;
        -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
        text-align: center;

        @include screenLgSm { 
            width: 100%;
            padding: 25px 0;
            margin: 0;
            -webkit-box-reflect: unset;
        }

        &:hover {
            background: #03e9f4;
            color: #050801;
            box-shadow: 0 0 5px #03e9f4,
                        0 0 25px #03e9f4,
                        0 0 50px #03e9f4,
                        0 0 200px #03e9f4;
        }
    }
    
}

.ShowNav {
    height: 350px;
    
}

.AnchorLink span {
    position: absolute;
    display: block;

    @include screenLgSm { 
        display: none;
    }

    &:nth-child(1){
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, transparent, #03e9f4);
        animation: animate1 1s linear infinite;

        @include screenLgSm { 
            animation: unset; 
            background: none;
        }
    }

    @keyframes animate1 {
        0% {
            left: -100%;
        }
        50%,100% {
            left: 100%;
        }
    }

    &:nth-child(2){
        top: -100%;
        right: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(180deg, transparent, #03e9f4);
        animation: animate2 1s linear infinite;
        animation-delay: 0.25s;

        @include screenLgSm { 
            animation: unset; 
            background: none;
        }
    }

    @keyframes animate2 {
        0% {
            top: -100%;
        }
        50%,100% {
            top: 100%;
        }
    }

    &:nth-child(3){
        bottom: 0;
        right: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(270deg, transparent, #03e9f4);
        animation: animate3 1s linear infinite;
        animation-delay: 0.5s;

        @include screenLgSm { 
            animation: unset; 
            background: none;
        }
    }

    @keyframes animate3 {
        0% {
            right: -100%;
        }
        50%,100% {
            right: 100%;
        }
    }

    &:nth-child(4){
        bottom: -100%;
        left: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(360deg, transparent, #03e9f4);
        animation: animate4 1s linear infinite;
        animation-delay: 0.75s;

        @include screenLgSm { 
            animation: unset; 
            background: none;
        }
    }

    @keyframes animate4 {
        0% {
            bottom: -100%;
        }
        50%,100% {
            bottom: 100%;
        }
    }
}

.HamBtnContainer {
    display: none;
    width: 100%;
    margin: 0 20px 0 0;
    position: relative;
    height: 66px;

    &::after {
        clear: both;
        content: "";
        display: table;
    }

    @include screenLgSm {
        display: block;
    }
}

.HamBtn {
    position: absolute;
    top: 10px;
    left: 15px;
    padding: 4px 8px;

    &:hover {
        background: #03e9f4;
        box-shadow: 0 0 5px #03e9f4,
                    0 0 25px #03e9f4,
                    0 0 50px #03e9f4,
                    0 0 200px #03e9f4;
    }

    &:hover .Bar1 { background: #050801; }
    &:hover .Bar2 { background: #050801; }
    &:hover .Bar3 { background: #050801; }
}

.Bar1,
.Bar2, 
.Bar3 {
    width: 35px;
    height: 5px;
    background-color: #03e9f4;;
    margin: 6px 0;
    transition: 0.4s;
    pointer-events: none;
}