@import '../../mixins/mixins.scss';

.AboutMe {
    display: flow-root;
    width: 100%;
    height: auto;
    margin: 0 auto;
    color: #51c451;
    position: relative;
    padding-bottom: 60px;
    padding-top: 60px;
    overflow: hidden;

    .AboutMeContainer {
        width: 80%;
        margin: 0 auto;
        h2 { 
            text-align: center;
            font-size: 50px;
            line-height: 50px;
            margin: 0 0 80px;
        }
    
        .TextAboutMe {
            width: 50%;
            float: left;

            @include screenMdSm { width: 100%; }
    
            span {
                color: #03e9f4;
                font-size: 30px;
            }
        }
    }
}

.BottomLine{
    position: absolute;
    bottom: 4px;
    left: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: lineBottom 1s linear infinite;
    overflow: hidden;
}

@keyframes lineBottom {
    0% {
        left: -100%;
    }
    50%,100% {
        left: 100%;
    }
}